html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(248, 216, 202);
  transition: background-color 100ms linear;
  height: 100%;
  margin: 0;
  background-image: url("https://www.italia.it/content/dam/tdh/en/interests/toscana/pisa/pisa/media/20210310164211-pisa.jpg");
}

ul.taskbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: 333;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

li a:hover {
  background-color: #111;
}

header {
  background-color: rgb(248, 210, 193);
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: white;
  border: 2px solid black;
}
img {
  border: 2px solid black;
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}

.checked {
  color: orange;
}

grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.tips {
  margin-left: 86%;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  width: 200px;
  border: 1px solid black;
  text-align: center;
  font-size: 15x;
  margin-left: 86%;
}

article {
  padding: 20px;
  width: 70%;
  background-color: rgb(255, 232, 219);
  height: 230px;
  border: 2px solid black;
}

footer {
  background-color: lightgray;
  padding: 10px;
  text-align: center;
  color: rgb(7, 1, 1);
  border: 2px solid black;
}

@media (max-width: 1200px) {
  article,
  footer {
    width: auto;
    height: auto;
  }
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}

.ingridienser {
  padding: 20px;
  width: 17%;
  background-color: rgb(255, 232, 219);
  height: 230px;
  border: 2px solid black;
}
